@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');
.yohama-page {
   font-family: 'Reem Kufi', sans-serif;
}

.container-top {
   width: 100vw;
   height: 51.95vh;
   left: 1440px;
   top: 532px;

   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 266px;

   background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(161, 167, 220, 0.395056) 55.73%,
      #1120a6 100%
   );
}

.first-message > p {
   font-weight: 400;
   font-size: 48px;
   line-height: 72px;
   text-align: center;
}

.container-bottom {
   width: 100vw;
   height: 48.046vh;
   background: linear-gradient(180deg, #be2828 0%, #ffffff 100%);
   border-radius: 38px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.yohama-pairing {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.YOHAMMMA-BOX {
   height: 55%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.YOHAMMMA {
   height: auto;
   margin: 0;
   font-family: 'Purple Purse', cursive;
   font-style: normal;
   font-weight: normal;
   font-size: 96px;
   text-align: center;
}

.yohama-img {
   height: 45%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.btn-pairings {
   position: absolute;
   height: 100px;
   width: 100vw;
   display: flex;
   justify-content: space-between;
}

.btn-pairings > button {
   border: none;
   height: 50px;
   width: 150px;
}
